.app {
  text-align: center;
  height: 100vh;

  h2 {
    margin: 0;
    padding: 1rem 0;
  }

  .tab-panel {
    padding-bottom: 2rem;
  }

  .tab-content {
    width: 100%;

    .graph {
      width: 80%;
      margin: auto;
    }

    // graph attributes 
    svg {
      overflow: visible;
      display: block;
      width: 100%;
      min-height: 70vh;
      background: #eee;
    }

    .node {
      fill: #ccc;
      stroke: #000;
      stroke-width: 5px;
    }
    
    .link {
      stroke: #000;
      stroke-width: 2px;
    }
  }

  .space {
    width: 80%;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    margin: 2rem auto;
  }
}