.app {
  text-align: center;
  height: 100vh;
  
  h2 {
    margin: 0;
    padding: 1rem 0;
  }

  .tab-panel {
    padding-bottom: 2rem;
  }

  .tab-content {
    width: 100%;

    .graph {
      width: 60%;
      margin: auto;

      // graph attributes 
      svg {
        overflow: visible;
        display: block;
        width: 100%;
        min-height: 60vh;
        max-height: 60vh;
        background: #eee;
      }

      .node {
        cursor: pointer;
        fill: #ccc;
        stroke: #000;
        stroke-width: 5px;
      }
      
      .link {
        // stroke: #000;
        stroke-width: 2px;
      }

      .label {
        cursor: pointer;
      }
    }

    .properties {
      width: 100%;
    }
  }

  .space {
    width: 80%;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    margin: 2rem auto;
  }

  .selectMui {
    min-width: 200px;
    border-color: #fff !important;

    label,
    svg,
    div,
    fieldset {
      color: #fff !important;
      border-color: #fff !important;
    }
  }
}