.settings-component {
    padding: 0 3rem;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#json {
    text-align: left;
    position: relative;
    left: 40%;
}

.styled-link {
  color: #0066cc;
  text-decoration: none;
}
